<%- include('partials/nav')%>
<div class="flex items-center justify-around flex-col md:flex-row  w-screen bg-white"> 
  <div>
  <img src="/funny-404-error-page-design.gif" alt=""></div>
  <div class="flex flex-col gap-10 p-10">
    <h1 class="text-3xl md:text-5xl font-extrabold">404 Error !</h1>
    <p class="text-gray-500 md:text-xl" >The page you are looking for is not found!</p>
  </div>

</div>
<%- include('partials/footer')%>