<%- include('partials/nav')%>

<div class="bg-gradient-to-r from-indigo-500 to-purple-600 text-white py-12">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl md:text-4xl font-bold mb-2">Facing any trouble?</h1>
    <p class="text-lg opacity-90">Contact us by clicking 'Contact Here' or you can reach us out via your convenience</p>
  </div>
</div>

<div class="flex justify-center text-center items-center w-screen gap-10 flex-col p-20">

    <div class=" md:h-96 flex "><img src="/Contact-Us-animation.gif" class="w-full" alt=""></div>
    <div><a href="mailto:sujaykumarsingh6228@gmail.com?subject=Support%20Lost%20n%20Found%20NIT%20Patna "><button class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition font-semibold p-2">Contact Here</button></a></div>
    </div>
  
</div>

 <%- include('partials/footer')%>

 